.container-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    z-index: 100;
    transition: all .4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.navigation-menu {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brandmark {
    width: 35%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.brandmark a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
    text-shadow: 0 3px 3px #00000011;
    letter-spacing: 8px;
    color: #fff;
}

.brandmark a span {
    margin-right: 5px;
    font-weight: 800;
    letter-spacing: 1px;
}

.diamond {
    margin-right: 5px;
    height: 60%;
}

.pagelist {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pagelist-items a,
.pagelist-items p{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 2px;
    color: #e2a1fc;
    cursor: pointer;
    z-index: 100;
    text-shadow: 0 3px 3px #00000011;
    transition: all .4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.pagelist-items a:hover,
.pagelist-items p:hover {
    color: #fff;
}

.pagelist-items a::after,
.pagelist-items p::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0;
    height: 2px;
    background: #eabcfc;
    border-radius: 5px;
    transform: translateX(-50%);
    transition: all .2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.pagelist-items a:hover::after,
.pagelist-items p:hover::before {
    width: 100%;
}

.pagelist-items p::after {
    content: '\02C6';
    position: absolute;
    top: 0;
    right: -24px;
    width: 20px;
    height: 22px;
    font-size: 34px;
    color: #eabcfc;
    transform: rotate(0);
    transform-origin: center;
    transition: all .2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.pagelist-items p.active::after {
    color: #ce7cee;
    transform: rotate(180deg);
    transform-origin: center;
}

.dropdown-menu {
    opacity: 0;
    position: absolute;
    padding: 20px;
    top: 46px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background: linear-gradient(to bottom, #ffffff0a, #ffffffa6);
    border-radius: 10px;
    transform: translateY(-30px);
    z-index: 50;
    transition: all .2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.dropdown-menu.active {
    opacity: 1;
    transform: translateY(0);
}

.item1,
.item2,
.item3 {
    opacity: 0;
    transform: translateY(-30px);
    transition: all .4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.item1.active,
.item2.active,
.item3.active {
    opacity: 1;
    transform: translateY(0);
}

.item1 {
    transition-delay: .2s;
}

.item2 {
    transition-delay: .4s;
}

.item3 {
    transition-delay: .6s;
}

.dropdown-items {
    padding: 10px 0;
    width: 100%;
}

.dropdown-items a {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}