.products {
    position: relative;
    margin: 200px auto 0 auto;
    width: 80%;
    height: 500px;
    background: linear-gradient(to right, #ffffff48, #ffffff42);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: -1px -1px 0 0 #fff;
}

.products-title {
    position: absolute;
    top: -100px;
    left: 0;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #e2a1fc;
}

.products-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.products-items {
    width: 21%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 3px 10px 0 #0000000e;
}

.products-items figure {
    width: 100%;
    height: 56%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #ecbbff, #fc9e9e) ;
    border-radius: 20px;
    box-shadow: -3px -3px 0 0 #ffe3e3, 3px 3px 0 0 #fc9e9e;
}

.products-items img {
    width: 70%;
}

.products-items figcaption {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    color: #e2a1fc;
    letter-spacing: 2px;
    text-align: center;
}

.products-items a {
    position: relative;
    margin: 0 0 30px 0;
    padding: 10px;
    width: 60%;
    background: #ecbbff;
    color: #ca91e0;
    font-weight: 500;    
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    letter-spacing: 1px;
    box-shadow:  2px 2px 0 0 #ffb6b6;
    transform: translate(0,0);
    transition: all .2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0ms;
}

.products-items a:hover {
    background: #d59bec;
    color: #fff;
}

.products-items a:active {
    transform: translate(2px,2px);
    box-shadow: none;
}

.products-items a::after {
    position: absolute;
    top: 50%;
    right: 10px;
    content: '\279C';
    transform: translate(-20px,-50%);
    opacity: 0;
    color: #fff;
    transition: all .2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0ms;
}

.products-items a:hover::after {
    opacity: 1;
    transform: translate(0,-50%);
}