.slide-wrapper {
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden;
}

.slide-track {
    width: 100%;
    display: flex;
}

.slide-items {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

img {
    max-width: 100%;
}